/*ChartKeys.js  */
.chart-key-container{
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.chart-key {
  flex-shrink: 1;
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
  width: 140px;
  color: grey;
  font-family: 'Open Sans Condensed', sans-serif;

}

/*Results.js */
.results-container{
  display:
}

.results{
  width: 960px;
  margin: 0 auto;
  padding: 20px;

}

#artist-name{
  font-size: 50px;
}
