/* Header.js */
nav {
  flex: none;
  margin: auto 0;
  padding-left: 40px;
}

h2 {
  width: 100%;
  margin-top: 50px;
  font-size: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  border-color: black;
  border-bottom: solid;
  border-width: 5px;
}


h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  padding-left: 10px;
  line-height: 20px;
}

#nbs-icon{
  flex: none;
  width: 80px;
  height: 80px;
  background-image: url(./nbs-icon.jpg);
  background-size: contain;
}

#header{
  display: flex;
  margin: 50px 0 0 50px;
}

#page-title {
  margin: auto 0;
  max-width: 800px;
}

/* NoResults.js */

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
}

.no-results{

  max-width: 500px;
  margin: 40px 0 0 230px;

}
