/*Chart*/

#chart {
  margin: 50px 0 0 0;
}


/*ChartKeys.js  */
.chart-key-container {
  display: flex;
  justify-content: space-between;
  width: 864px;
}

.chart-key {
  flex-shrink: 1;
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
  width: 121px;
  color: grey;
  font-family: 'Open Sans Condensed', sans-serif;
}

/*Results.js */
.results-container {
  margin-bottom: 50px;
}

.results {
  width: 960px;
  margin: 0 auto;

}

#artist-name {
  font-size: 50px;
}

#foot-note {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  padding:20px;
  width: 300px;
  color: grey;
  font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
